APP_PORT=3000
APP_BASEURL=
DATABASE_HOST=localhost:27017
DATABASE_NAME=wks_dev
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_AUTHSOURCE=
CORS_ORIGINS=["*"]
CORS_HEADERS=["X-Total-Count"]
MAIL_HOST=smtp.gmail.com
MAIL_PORT=25
MAIL_USER=
MAIL_PASS=
MAIL_FROM_NAME=
MAIL_FROM_ADRESS=
AUTH_USERCOL=_user
AUTH_SECRET=secret
ASSETS_DIR=./assets/files
ASSETS_THUMBS=./assets/thumbs
SCHEMAS_DIR=./jsonschemas
API_VERSION=1
JWT_EXPIRATION=900000
JWT_SECRET=secret
JWT_HOURS_TO_VERIFY=4
JWT_HOURS_TO_BLOCK=6
JWT_LOGIN_ATTEMPTS_TO_BLOCK=5
DOCKER_MONGODATA_DIR=
DOCKER_MONGODUMPS_DIR=
DOCKER_SCHEMAS_DIR=
DOCKER_ASSETS_DIR=