APP_PORT=3000
APP_BASEURL=
APP_CORSORIGINS=*
DATABASE_HOST=localhost:27017
DATABASE_NAME=wks_dev
DATABASE_USER=none
DATABASE_PASSWORD=none
DATABASE_AUTHSOURCE=none
CORS_ORIGINS=['http://localhost:3000/']
AUTH_USERCOL=_user
AUTH_SECRET=secret
API_VERSION=1
JWT_EXPIRATION=900000
JWT_SECRET=secret
JWT_HOURS_TO_VERIFY=4
JWT_HOURS_TO_BLOCK=6
JWT_LOGIN_ATTEMPTS_TO_BLOCK=5
